body {
    margin: 0;
    background-color: lightgray;
}

p, label, button, input, textarea {
    font-size: 16px;
}

.button {
    padding: 8px 20px;
    border: none;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
