body {
    margin: 0;
    background-color: lightgray;
}

.button {
    padding: 8px 20px;
    border: none;
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
